.todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.todo-form {
    margin: 10px;
    display: flex;
}

.todo-form * {
    font-size: 1.5rem;
}

.todos-main button {
    border-radius: 10px;
    padding: 10px;
}

#submit {
    position: relative;
    background-color: #2B2D2F;
    color: lightgreen;
    border: none;
    border-radius: .125em;
    padding: 1em  3em;
    font-weight: bold;
    margin-left: 30px;
}

#submit.animating {
    background-color: transparent;
    color: transparent;
    user-select: none;
    cursor: default;
}
#submit::before{
    content: "";
    position: absolute;
    background-color: #2B2D2F;
    /* background-color: red; */
    inset: 0;
    border-radius: .125em;
    animation: squish 300ms;
    animation-fill-mode: forwards;
}

#submit.animating::before{
    display: block;
}

@keyframes squish {
    100% {
        left: -10%;
        right: -10%;
    }
}

.todo {
    background-color: lightgray;
    width: 80%;
    font-size: 2rem;
    margin: 10px;
}

.incomplete:hover {
    cursor: pointer;
    background-color: red;
    text-decoration: line-through;
}

.complete {
    text-decoration: line-through;
    background-color: lightgreen;
}

.delete-button {
    background-color: crimson;
    margin: 20px;
    font-size: 1.3rem;
}

